# Python
*venv
/.idea
__pycache__/
*.pyc
.python-version

# Terraform
**/terraform.tfstate*
.terraform
.notes
.vs

# Virtual Environments
.venv

# lambda stuff
lambda*.zip

# Ruby
*.lock

# IDE & development
.vscode/
*.iml

# Mac
.DS_Store

# Test environment
*generated.postman_environment.json
process.yml
.pytest_cache/
.coverage
*pact.log

# Misc
*crash.log
lambda_functions/v1/lambda_layers/python/lib/python3.8/site-packages/*
!lambda_functions/v1/lambda_layers/python/lib/python3.8/site-packages/README.md
/integration_tests/v1/report.html
**/report.html
