services:
  mock-sirius:
    image: outofcoffee/imposter:4.7.0@sha256:2a2f964e6ee7bea2f9a54eac6d976441351d0805833117fc2e45c541b8d58ae9
    healthcheck:
      test: [ "CMD", "imposter", "list", "-x" ]
      interval: 15s
      timeout: 10s
      retries: 3
      start_period: 30s
    restart: unless-stopped
    volumes:
      - ./mock_sirius_backend:/opt/imposter/config

  localstack:
    image: localstack/localstack:4.12@sha256:0df3a97da57de03a588c05d9b8f390f15c7033fc7c4512f94619d344bc3cd317
    volumes:
      - "./localstack/init:/etc/localstack/init/ready.d"
    environment:
      AWS_DEFAULT_REGION: eu-west-1
    restart: unless-stopped

  redis:
    image: "redis:alpine@sha256:987c376c727652f99625c7d205a1cba3cb2c53b92b0b62aade2bd48ee1593232"
    ports:
      - "0.0.0.0:6379:6379"

  api_gateway:
    build:
      context: ./lambda_functions/v1
    depends_on:
      - localstack
      - mock-sirius
      - redis
    volumes:
      - ./lambda_functions/v1/:/var/www/lambda_functions/v1/
    environment:
      ENVIRONMENT: local
      AWS_ACCESS_KEY_ID: testing
      AWS_SECRET_ACCESS_KEY: testing
      AWS_SECURITY_TOKEN: testing
      AWS_SESSION_TOKEN: testing
      AWS_DEFAULT_REGION: eu-west-1
      SIRIUS_BASE_URL: http://mock-sirius:8080
      SIRIUS_API_VERSION: v1
      SESSION_DATA: publicapi@opgtest.com
      LOCALSTACK_HOST: localstack
      REQUEST_CACHING: enabled
      REQUEST_CACHING_TTL: 48
      REQUEST_CACHING_NAME: opg-data-lpa
      REDIS_URL: redis://redis:6379
    networks:
      default:
        aliases:
          - lpa.local

  unit-test-lpa-data:
    image: unit-tests-request-handler:latest
    build:
      context: lambda_functions/v1
      dockerfile: Dockerfile-tests
    volumes:
      - "./pact:/tmp/pact"
      - /var/run/docker.sock:/var/run/docker.sock
