connexion
fakeredis==1.4.5
flake8==3.8.4
flake8-quotes==3.2.0
hypothesis==6.0.0
moto~=4.1
pytest
pytest-cov
pytest-env
pytest-html
tenacity==6.3.1
validators==0.18.2
yarl
importlib-metadata
opg-sirius-service
localstack-client
