connexion==3.3.0
fakeredis==2.32.1
flake8==7.3.0
flake8-quotes==3.4.0
moto==5.1.16
pytest==8.4.2
pytest-cov==7.0.0
pytest-env==1.2.0
pytest-html==4.1.1
tenacity==9.1.2
validators==0.35.0
yarl==1.22.0
importlib-metadata==8.7.0
typing-extensions==4.15.0
pact-python==2.3.3
boto3==1.40.74
