#Update this date to trigger update of layers: 20230619
Flask==3.0.3
markupsafe==2.1.5
localstack-client==2.5
redis==5.0.7
requests==2.32.2
Werkzeug==3.0.3
requests-aws4auth==1.2.3
boto3==1.34.144
pyjwt==2.8.0
validators== 0.33.0
importlib-metadata==8.0.0
