permissions:
  actions: read
  checks: read
  contents: read
  deployments: none
  issues: none
  packages: none
  pull-requests: none
  repository-projects: none
  security-events: write
  statuses: none

on:
  workflow_call:
    inputs:
      branch_name:
        type: string
        required: true
      commit_sha:
        type: string
        required: true
      semver_tag:
        type: string
        required: true
    secrets:
      pact_broker_password:
        description: "Pact broker password"
        required: true

jobs:
  run_unit_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: "3.13"

      - uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # 1.0.8

      - name: Install flake8
        run: pip3 install flake8

      - name: Run Flask8
        run: 'flake8 --ignore Q000,W503 lambda_functions'

      - name: Build Unit Test Container
        run: docker compose build unit-test-lpa-data

      - name: Run Unit Tests
        run: docker compose up unit-test-lpa-data --abort-on-container-exit --exit-code-from unit-test-lpa-data || exit 1

      - name: Publish pacts
        run: |
          docker run --rm -v ${PWD}/pact:/tmp/pact pactfoundation/pact-cli:latest \
            pact-broker publish /tmp/pact/data-lpa-sirius.json \
            --consumer-app-version ${{ inputs.commit_sha }} \
            --branch ${{ inputs.branch_name }} \
            --tag ${{ inputs.semver_tag }} \
            --broker-base-url https://pact-broker.api.opg.service.justice.gov.uk \
            --broker-username admin \
            --broker-password ${{ secrets.PACT_BROKER_PASSWORD }}
